


<div class="container">


    <p><button type="button" class="btn btn-primary" (click)="mostrarModalInfo()">Create a new departament</button></p>

    <ng-template #myModalInfo let-modal>

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="departamentForm" (ngSubmit)="onCreate()">
                    <div class="form-outline mb-4">
                        <label for="email">Name: </label>
                        <input [(ngModel)]="name" type="text" formControlName="name"
                            class="form-control form-control-lg">
                    </div>

                    <div class="form-outline mb-4">
                        <label for="password">Description: </label>
                        <input [(ngModel)]="description" id="text" type="text" formControlName="description"
                            class="form-control form-control-lg">
                    </div>
                    <div class="form-outline mb-4">
                        <label for="password">Phone: </label>
                        <input [(ngModel)]="phone" id="text" type="text" formControlName="phone"
                            class="form-control form-control-lg">
                    </div>
                    <div class="form-outline mb-4">
                        <select name="enterpriseSelect" formControlName="enterpriseSelect"
                            (change)="changeEnterprise($event)"
                           class="custom-select mb-3">
                            <option [value]="" [selected] [disabled]>Select an enterprise</option>
                            <option *ngFor="let enterprise of dataEnterprise" [ngValue]="enterprise.id">
                                {{enterprise.name}}
                            </option>
                        </select>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>

                </form>
            </div>
            
        </div>

    </ng-template>

    <ng-template #myModalConf let-modal>

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit departament</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="modal.close('Cerrado desde la ventana')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form [formGroup]="departamentUpdateForm" (ngSubmit)="onEdit()">
                        <div class="form-outline mb-4">
                            <label for="email">Id: </label>
                            <input [(ngModel)]="idDepartament" type="text" formControlName="idDepartament"
                                class="form-control form-control-lg">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="email">Name: </label>
                            <input [(ngModel)]="nameUpdate" type="text" formControlName="nameUpdate"
                                class="form-control form-control-lg">
                        </div>

                        <div class="form-outline mb-4">
                            <label for="password">Description: </label>
                            <input [(ngModel)]="descriptionUpdate" id="text" type="text"
                                formControlName="descriptionUpdate" class="form-control form-control-lg">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="password">Phone: </label>
                            <input [(ngModel)]="phoneUpdate" id="text" type="text" formControlName="phoneUpdate"
                                class="form-control form-control-lg">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="password">Status: </label>
                            <input  [(ngModel)]="statusUpdate" type="checkbox" formControlName="statusUpdate"
                               >
                        </div>
                        <label for="password">Current enterprise:{{nameEnterprise}} </label>
                        <div class="form-outline mb-4">
                            <label for="password">Select an enterprise: </label>

                            <select name="enterpriseSelect" formControlName="enterpriseSelect"
                                (change)="changeEnterprise($event)"
                               class="custom-select mb-3">
                                <option *ngFor="let enterprise of dataEnterprise" [ngValue]="enterprise.id">
                                    {{enterprise.name}}
                                </option>
                            </select>
                        </div>
                        

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Modify</button>

                    </form>
                </div>
            </div>
           
        </div>

    </ng-template>


    <p *ngIf="dataCount==0">Don´t exist records</p>

    <table   class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">name</th>
        <th scope="col">phone</th>
        <th scope="col">description</th>
        <th scope="col">created_by</th>
        <th scope="col">created_date</th>
        <th scope="col">modified_by</th>
        <th scope="col">modified_date</th>
        <th scope="col">status</th>
        <th scope="col">enterprise</th>
        <th scope="col">actions</th>

      </tr>
    </thead>
    <tbody>
      <tr   *ngFor="let departament of dataDepartaments;let i=index">
       <td>{{departament.id}}</td>
       <td>{{departament.name}}</td>
       <td>{{departament.phone}}</td>
       <td>{{departament.description}}</td>
       <td>{{departament.created_by}}</td>
       <td>{{departament.created_date}}</td>
       <td>{{departament.modified_by}}</td>
       <td>{{departament.modified_date}}</td>
       <td>{{departament.status}}</td>
       <td>{{departament.entrerprises.name}}</td>
     
      <td>
        <button type="button" class="btn btn-secondary" (click)="showDepartament($event,departament)">Edit</button>
      </td>
      
      </tr>
     
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">name</th>
        <th scope="col">phone</th>
        <th scope="col">description</th>
        <th scope="col">created_by</th>
        <th scope="col">created_date</th>
        <th scope="col">modified_by</th>
        <th scope="col">modified_date</th>
        <th scope="col">status</th>
        <th scope="col">enterprise</th>
        <th scope="col">actions</th>

      </tr>
    </tfoot>
  </table>

</div>