
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-outline mb-4">
                <label for="email">Email: </label>
              <input [(ngModel)]="email"  type="text" formControlName="email" class="form-control form-control-lg">
              </div>
          
              <div class="form-outline mb-4">
                <label for="password">Password: </label>
              <input [(ngModel)]="password" id="password" type="text" formControlName="password" class="form-control form-control-lg">
              </div>
              <p id="messageLogin" *ngIf="loginValid==false">{{messageCannotLogin}}</p>
              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!loginForm.valid">Login</button>

            </form>
           

           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

